<div class="col-md-12">
  <nav class="navbar navbar-default " (mouseleave)="mouseOut()" style=" background-color: rgba(139, 143, 149,0.6)">
    <div class="col-md-3 "><a style="color:white;font-size: x-large; font-style: italic; font-weight: bold; font-family: cursive" routerLink="/program" class="navbar-brand text-center" > WoM ! </a>
      <button type="button" *ngIf="!showForm" class=" btn btn-info"
              style="padding: 1px 15px 3px 2px;  border-radius:50px; font-weight: bolder;background-color: rgba(30, 92, 149,0.4);font-family: cursive; margin-top:2.2mm"
              (mouseenter)="mouseIn()">
                <span class="glyphicon glyphicon-option-vertical img-circle text-info"
                      style="padding:8px;  background-color:white; font-weight: bolder" ></span>
        {{ currentUser.firstName.charAt(0) |uppercase }}{{currentUser.lastName.charAt(0) |uppercase }}
      </button>
    </div>
<!--barre de recherche-->
    <div class="col-md-4" *ngIf="authServise.isAuthenticated()">
      <div class="input-group" style="margin-top:2.5mm">
        <div class="input-group-btn">
          <button style=" background-color: rgba(30, 92, 149,0.4); font-weight: bolder; font-family: cursive"
                  type="button" class="btn btn-info dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">Filter by {{searchTopic}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" style="margin-top:3mm">

            <li style="cursor: pointer; color: #333333" (click)="onSearchByProgram()">Program</li>
            <li role="separator" class="divider"></li>
            <li style="cursor: pointer ; color: #333333" (click)="onSearchByExercise()">Exercise</li>
          </ul>
        </div><!-- /btn-group -->
        <input type="text" name="keyWord" [(ngModel)]="keyWord" (keyup)="onSearch()" #keyword class="form-control col-md-3" style="background-color: white"
               aria-label="..." placeholder="Keyword...">


        <!--<span class="input-group-btn">-->
        <!--<button class="btn  glyphicon glyphicon-search" type="button" (click)="onSearch()"></button>-->
        <!--</span>-->
      </div><!-- /input-group -->
    </div>

    <!--menu-->


<div class="col-md-10"  *ngIf="authServise.isAuthenticated()">
  <ul class="nav navbar-nav navbar-right">
    <ng-template [ngIf]="!authServise.isAuthenticated()">
      <li><a style="cursor: pointer;" routerLink="/register"><span class="glyphicon glyphicon-floppy-save"></span>
        Register</a></li>
      <li><a style="cursor: pointer;" routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> LogIn</a>
      </li>
    </ng-template>
  </ul>
</div>
    <div class="row" style="color: whitesmoke;box-shadow: 1px 1px 12px #555;" *ngIf="authServise.isAuthenticated()" >

      <div class="col-md-4" >

      </div>
      <div class="col-md-3 col-sm-3 text-center" *ngIf="showOptions" [@listShow] >
        <!--<h3> <span class="badge" style="background-color: #dddddd"> {{ currentUser.firstName.charAt(0) |uppercase }}{{currentUser.lastName.charAt(0) |uppercase }} {{ currentUser.firstName |uppercase }}{{currentUser.lastName |uppercase }}</span> </h3>-->
        <ul class="nav nav-pills" >
          <li role="presentation"  routerLinkActive="active"><a  routerLink="/user/profil" ><span class=" glyphicon glyphicon-user"></span> Profil</a></li>
          <li role="presentation"  routerLinkActive="active"><a  routerLink="/program" > <span class="glyphicon glyphicon-th-list"></span> Programs</a></li>
          <li role="presentation"  routerLinkActive="active"><a   class="pull-right" (click)="onLogout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
      </div>
      <div class="col-md-4"></div>


    </div>
  </nav>
</div>


