    <div class="wrapper" *ngIf="exercise!=null " style="border-radius: 25px;">
      <div id="tasksPanel" class="panel backgroundTransparent " style="color: whitesmoke;">
    <div class="panel-heading">
      <h3 class="panel-title " style="font: normal 20px Arial, sans-serif;  color: whitesmoke; text-shadow: 1px 1px 1px #ccc; padding-bottom: 3mm;">My progression </h3>
      <div >
        <h5 class="list-group-item disabled" style="background-color: whitesmoke; font: normal 13px Arial, sans-serif;  color: #333; text-shadow: 1px 1px 1px #ccc;font-weight: bold;">
          {{exercise.exerciseName}}
        </h5>
        <ul class="list-group">
          <li class="list-group-item borderTop" *ngFor="let load of exercise.charges" style=" color: #333;font-weight: bold; background-color: lightgrey">
            {{load.charge}} <span style="background-color: lightblue; color: #635d5d" class="badge ">{{load.lastModification |  date:'MM/dd/yy'  }} {{" "}}   <span *ngIf="showOption">
              <a style="cursor: pointer" data-toggle="modal" data-target="#myModalL" (click)="onShowModal(load)" class="glyphicon glyphicon-trash text-danger "></a>
            <a class="glyphicon glyphicon-edit text-primary "  (click)="onEditLoad(load.idLoad)" style="padding-left: 5px; cursor: pointer"> </a>
            </span></span>
          </li>
        </ul>
      </div>
<div class="row">
  <a *ngIf="showOption" class="btn icon-btn btn-success pull-right" (click)="onShowOption()">
    <span class="glyphicon btn-glyphicon glyphicon-minus-sign img-circle text-success"></span>
    Options
  </a>
  <a *ngIf="!showOption" class="btn icon-btn btn-success pull-right" (click)="onShowOption()">
    <span class="glyphicon btn-glyphicon glyphicon-plus-sign img-circle text-success"></span>
    Options
  </a>

</div>
      <div *ngIf="loadToDelete!=null" class="modal fade" id="myModalL" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title text-danger font-weight-bold">Deleting Load : <span class="badge">{{loadToDelete.charge | uppercase}}</span>  </h4>
            </div>
            <div class="modal-body ">
              <p class="font-weight-bold">
                You are about to delete the Load.<br>
                Are you sure of your choice?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" (click)="onDeleteLoad()" data-dismiss="modal">Delete</button>
              <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
            </div>
          </div>

        </div>
      </div>

        <app-add-load [updateMode]="updateMode" [loadToUpdate]="loadToUpdate" [exercise]="exercise"></app-add-load>

    </div>

  </div>
</div>
