<div class="wrapper ">
  <form class="wrapper form-signin backgroundTransparent" (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
    <h2 class="form-signin-heading">Please login</h2>
    <input type="text" class="form-control" name="email" placeholder="Email Address" ngModel required="" autofocus="" />
    <br>
    <input type="password" class="form-control" name="password" placeholder="Password" ngModel required=""/>
    <label class="checkbox">
      <input type="checkbox" value="365" id="rememberMe" ngModel name="rememberMe"> Remember me
    </label>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>

    <span *ngIf="!isRegistred" class="badge" style="background-color: rgba(183, 25, 25,0.6); margin-top: 3mm">Login or Email are not correct</span>
  </form>
</div>
