<form  *ngIf="!updateMode">
  <div class="input-group    form-group" >
    <label class="control-label">Loads (kg) / Duration (min)</label>
    <br>
    <label class="radio-inline">
      <input type="radio" [(ngModel)]="loadType" name="loadType" id="loadType" value="(min:sec)"> Time (min:sec)
    </label>
    <label class="radio-inline">
      <input type="radio" [(ngModel)]="loadType"  name="loadType" id="loadType" value="(kg)"> Weight (Kg)
    </label>
    <div style="padding-top: 3mm">
      <input *ngIf="loadType==='(kg)'" type="number"  [(ngModel)]="load"  name="loadName" class="form-control" placeholder="Load ...." required>
      <input *ngIf="loadType==='(min:sec)'" type="time"   [(ngModel)]="load"  name="loadName" class="form-control small" placeholder="Load ...." required min="0">
    </div>
  </div>
  <div class="input-group  col-md-5">
    <button [disabled]="load==='' || loadType==='' "  (click)="onSaveLoad()" class="btn btn-info" type="button">Add Program</button>

  </div>
</form>

<form *ngIf="updateMode" >
<h4>Updating  Mode</h4>

  <div class="input-group    form-group" >
    <label class="control-label">Loads (kg) / Duration (min)</label>
    <br>
    <label class="radio-inline">
      <input type="radio" [(ngModel)]="loadType" name="loadType" id="loadType" value="(min:sec)"> Time (min:sec)
    </label>
    <label class="radio-inline">
      <input type="radio" [(ngModel)]="loadType"  name="loadType" id="loadType" value="(kg)"> Weight
    </label>
    <input type="text" [(ngModel)]="loadToUpdate.charge"  name="loadName" class="form-control" placeholder="Load / Duration ...." required>

  </div>
  <div class="input-group  col-md-5">
    <button [disabled]="loadToUpdate.charge==='' || loadType==='' "  (click)="onUpdateLoad(loadToUpdate)" class="btn btn-info" type="button">Update</button>

  </div>
</form>

