<form  *ngIf="!updateMode">
  <div class="input-group    form-group" >
    <label class="control-label">Loads (kg) / Duration (min)</label>
    <br>
    <label class="radio-inline">
      <input type="radio" [(ngModel)]="loadType" name="loadType" id="loadType" value="(min)"> Time
    </label>
    <label class="radio-inline">
      <input type="radio" [(ngModel)]="loadType"  name="loadType" id="loadType" value="(kg)"> Weight
    </label>
    <input type="text" [(ngModel)]="load"  name="loadName" class="form-control" placeholder="Load / Duration ...." required>

  </div>
  <div class="input-group  col-md-5">
    <button [disabled]="load==='' || loadType==='' "  (click)="onSaveLoad()" class="btn btn-info" type="button">Add Program</button>

  </div>
</form>

<form *ngIf="updateMode" >
<h4>Updating  Mode</h4>
  <h4>{{loadToUpdate.idLoad}}</h4>
  <div class="input-group    form-group" >
    <label class="control-label">Loads (kg) / Duration (min)</label>
    <br>
    <label class="radio-inline">
      <input type="radio" [(ngModel)]="loadType" name="loadType" id="loadType" value="(min)"> Time
    </label>
    <label class="radio-inline">
      <input type="radio" [(ngModel)]="loadType"  name="loadType" id="loadType" value="(kg)"> Weight
    </label>
    <input type="text" [(ngModel)]="loadToUpdate.charge"  name="loadName" class="form-control" placeholder="Load / Duration ...." required>

  </div>
  <div class="input-group  col-md-5">
    <button [disabled]="loadToUpdate.charge==='' || loadType==='' "  (click)="onUpdateLoad(loadToUpdate)" class="btn btn-info" type="button">Update</button>

  </div>
</form>

