/*.image {*/
  /*height: auto;*/
  /*background-size: cover;*/
  /*width: auto;*/
  /*no-repeat center fixed;*/


  /*background-position: 100% 100%;*/
/*}*/

.image {
  margin:0;
  padding:0;
  width: 100%;
  height: auto;
  min-height: 100vh;
  background: url('../assets/images/Gym1.png') no-repeat center fixed;
  background-size: contain;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  /*background-size: cover; !* version standardisée *!*/
}
