<div class="input-group  bas">

  <input type="text" [(ngModel)]="exerciseTitle" name="exercise" class="form-control" placeholder="New Exercise...">
  <span class="input-group-btn">
        <button (click)="onAddExercise()" (keyup.enter)="onAddExercise()"  class="btn btn-secondary glyphicon  glyphicon-chevron-right droite" type="button"
                [disabled]="exerciseTitle===''" style="margin-left: 2px;"></button>
      </span>
</div>
<div class="input-group bas" *ngIf="exerciseAdded && exerciseTitle!=''">

  <input type="text" [(ngModel)]="load" (keyup.enter)="onSaveProgram()"  name="load" class="form-control" placeholder="New Load...">

</div>

<div class="input-group  col-md-5" *ngIf="exerciseAdded && load!=''">
  <button (click)="onSaveExercise()" class="btn btn-secondary" type="button">Add Exercise</button>

</div>
