<div id="tasksPanel" class="panel backgroundTransparent " style="color: whitesmoke;" [@exerciseShow]>
  <div class="panel-heading">
    <h3 class="panel-title " style="font: normal 20px Arial, sans-serif;  color: whitesmoke; text-shadow: 1px 1px 1px #ccc; padding-bottom: 3mm;">Adding Exercise</h3>
    <div >

<form *ngIf="!updateMode" class="addingMode" style="color: #333333; font-family: cursive">

  <div class="input-group   form-group" >
    <label class="control-label" for="exerciseName">Exercise Name</label>
    <input type="text" [(ngModel)]="exerciseName" id="exerciseName" name="exerciseName" class="form-control" placeholder="New Exercise..." required>
    <!-- <span class="input-group-btn">
           <button (click)="onAddExercise()" (keyup.enter)="onAddExercise()"  class="btn btn-secondary glyphicon  glyphicon-chevron-right droite" type="button"
                       [disabled]="exerciseName===''" style="margin-left: 2px;"></button>
         </span>-->
  </div>
  <div class="input-group    form-group" >
    <label class="control-label" for="exerciseName">Loads / Duration</label>
    <br>
    <label class="radio-inline">
      <input type="radio" [(ngModel)]="loadType" name="loadType" id="loadType" value="(min:sec)"> Time (min:sec)
    </label>
    <label class="radio-inline">
      <input type="radio" [(ngModel)]="loadType"  name="loadType" id="loadType" value="(kg)"> Weight (kg)
    </label>
    <div style="padding-top: 3mm">
      <input *ngIf="loadType==='(kg)'" type="number"  [(ngModel)]="loadName"  name="loadName" class="form-control" placeholder="Load ...." required>
      <input *ngIf="loadType==='(min:sec)'" type="time"   [(ngModel)]="loadName"  name="loadName" class="form-control small" placeholder="Load ...." required>
    </div>

  </div>
  <div class="input-group  col-md-5">
    <button [disabled]="exerciseName==='' || loadName==='' "
            (click)="onSaveExercise()" style="background-color: rgba(30, 92, 149,0.4)" class="btn icon-btn btn-info " type="button">
      <span class="glyphicon btn-glyphicon glyphicon-saved img-circle text-info" >

      </span> Add Exercise</button>

  </div>
</form>

<form *ngIf="updateMode" style="color: #333333; font-family: cursive">

  <div class="input-group   form-group" >
    <label class="control-label" for="exerciseName">Exercise Name</label>
    <input type="text" [(ngModel)]="exerciseToUpdate.exerciseName" id="exerciseName" name="exerciseName" class="form-control" placeholder="New Exercise..." required>

  </div>
  <div class="input-group  col-md-5">
    <button [disabled]="exerciseToUpdate.exerciseName===''"
            (click)="onUpdateExercise(exerciseToUpdate)"  style="background-color: rgba(30, 92, 149,0.4)" class="btn icon-btn btn-info " type="button">
      <span class="glyphicon btn-glyphicon glyphicon-saved img-circle text-info" >

      </span>  Exercise</button>
  </div>
</form>
    </div>
