<div class="col-md-6" *ngIf="exercises!=null;">
  <div class="wrapper"  [@detailShow]>
    <div id="tasksPanel" class="panel backgroundTransparent ">
      <div class="panel-heading">

        <h2 class="panel-title title">My Execrcises
          <span class="pull-right badge"
                style="background-color:lightblue; color:  #635d5d;">
            {{program.programName| uppercase}}</span></h2>

        <br>
        <table class="table gym-table gym-table-rounded"  style="font-family: cursive; color: #4c83b2">
          <thead>
          <tr>

            <th scope="col">Exercise</th>
            <th scope="col">Loads</th>
            <th  scope="col">Option</th>
            <!--<th scope="col">Last Modification</th>-->

          </tr>
          </thead>
          <tbody>
          <tr   *ngFor="let exercise of exercises | filterByName : keyWord : searchableField">
            <td>{{exercise.exerciseName}}</td>
            <td *ngIf="exercise.charges!=null;">{{exercise.charges[exercise.charges.length-1].charge}}

            </td>
            <td >
              <ul class="list-inline pull-right">
                <li>      <a  *ngIf="!showOption" class="glyphicon glyphicon-list pull-right" (click)="onShowDetail(exercise)"></a></li>
                <li *ngIf="showOption">     <a style="cursor: pointer" data-toggle="modal" data-target="#myModalE" (click)="onShowModal(exercise)"><span class="glyphicon glyphicon-trash text-danger "></span></a></li>
                <li *ngIf="showOption"> <a  (click)="onEditExercise(exercise.idExercise)" style="margin-left: 5px; cursor: pointer"><span class="glyphicon glyphicon-edit text-primary"></span></a></li>
              </ul>
            </td>


          </tr>
          </tbody>
        </table>
        <a *ngIf="!showForm" class="btn icon-btn btn-info" (click)="onShowForm()" style="background-color: rgba(30, 92, 149,0.4)">
          <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-info" ></span>
          Add
        </a>
        <a *ngIf="showForm" class="btn icon-btn btn-info"
           (click)="onShowForm()" style="background-color: rgba(30, 92, 149,0.4)">
          <span class="glyphicon btn-glyphicon glyphicon-minus img-circle text-info"></span>
          Cancel
        </a>
        <a *ngIf="showOption" class="btn icon-btn btn-info pull-right"
           (click)="onShowOption()" style="background-color: rgba(46, 142, 0,0.4)">
          <span class="glyphicon btn-glyphicon glyphicon-minus img-circle text-info"></span>
         Options
        </a>
        <a *ngIf="!showOption" class="btn icon-btn btn-info pull-right"
           (click)="onShowOption()" style="background-color: rgba(46, 140, 0,0.4)">
          <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-info"></span>
          Options
        </a>



      </div>
    </div>

  </div>
  <div *ngIf="showForm" class="backgroundTransparent" [@addExercise]>
    <app-add-exercise  [updateMode]="updateMode" [exerciseToUpdate]="exerciseToUpdate"  [exercises]="exercises" [idProgram]="program.idProgram"></app-add-exercise>
  </div>
</div>
<div *ngIf="exerciseToDelete!=null" class="modal fade" id="myModalE" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-danger font-weight-bold">Deleting Exercise : <span class="badge">{{exerciseToDelete.exerciseName | uppercase}}</span>  </h4>
      </div>
      <div class="modal-body ">
        <p class="font-weight-bold">
          You are about to delete the Exercise.<br>
          Are you sure of your choice?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="onDeleteExercise()" data-dismiss="modal">Delete</button>
        <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>
<div class="col-md-5" *ngIf="program !=null;">
  <app-exercise [idProgram]="program.idProgram"></app-exercise>

</div>


