<div class="col-md-5">
  <div class="wrapper">
    <div id="tasksPanel" class="panel panel-default alert-info">
      <div class="panel-heading" *ngIf="exercises!=null;">
        <h3 class="panel-title">My Execrcises        <span class="pull-right "> {{program.programName| uppercase}}</span></h3>
        <table class="table table-striped text-center">
          <thead>
          <tr>

            <th scope="col">Exercise</th>
            <th scope="col">Loads</th>
            <th *ngIf="showOption" scope="col">Option</th>
            <!--<th scope="col">Last Modification</th>-->

          </tr>
          </thead>
          <tbody>
          <tr   *ngFor="let exercise of exercises">


            <td>{{exercise.exerciseName}}</td>
            <!--<td>{{exercise.exerciseName}}</td>-->
            <td>{{exercise.charges[exercise.charges.length-1].charge}}
              <a class="glyphicon glyphicon-list pull-right" (click)="onShowDetail(exercise)"></a>
            </td>
            <td *ngIf="showOption"><a style="cursor: pointer" (click)="alert()"><span class="glyphicon glyphicon-trash text-danger "></span></a>
              <a  (click)="alert()" style="margin-left: 5px; cursor: pointer"><span class="glyphicon glyphicon-edit text-primary"></span></a></td>

          </tr>
          </tbody>
        </table>
        <a *ngIf="!showForm" class="btn icon-btn btn-info" (click)="onShowForm()">
          <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-info"></span>
          Add
        </a>
        <a *ngIf="showForm" class="btn icon-btn btn-info" (click)="onShowForm()">
          <span class="glyphicon btn-glyphicon glyphicon-minus img-circle text-info"></span>
          Cancel
        </a>
        <a *ngIf="showOption" class="btn icon-btn btn-success pull-right" (click)="onShowOption()">
          <span class="glyphicon btn-glyphicon glyphicon-minus-sign img-circle text-success"></span>
           Option
        </a>
        <a *ngIf="!showOption" class="btn icon-btn btn-success pull-right" (click)="onShowOption()">
          <span class="glyphicon btn-glyphicon glyphicon-plus-sign img-circle text-success"></span>
           Options
        </a>

        <app-add-exercise *ngIf="showForm" [exercises]="exercises" [idProgram]="program.idProgram"></app-add-exercise>

      </div>
    </div>

  </div>
</div>

<div class="col-md-5">
  <app-exercise  ></app-exercise>

</div>


