<div class="col-md-5">
  <div class="wrapper">
    <div id="tasksPanel" class="panel panel-default alert-info">
      <div class="panel-heading" *ngIf="exercises!=null;">
        <h2 class="panel-title">My Execrcises
          <span class="pull-right badge"
                style="background-color:lightblue; color:  #635d5d;">
            {{program.programName| uppercase}}</span></h2>
        <table class="table table-striped text-center">
          <thead>
          <tr>

            <th scope="col">Exercise</th>
            <th scope="col">Loads</th>
            <th *ngIf="showOption" scope="col">Option</th>
            <!--<th scope="col">Last Modification</th>-->

          </tr>
          </thead>
          <tbody>
          <tr   *ngFor="let exercise of exercises">


            <td>{{exercise.exerciseName}}</td>
            <td>{{exercise.charges[exercise.charges.length-1].charge}}
              <a class="glyphicon glyphicon-list pull-right" (click)="onShowDetail(exercise)"></a>
            </td>
            <td *ngIf="showOption">
              <ul class="list-inline">
                <li>     <a style="cursor: pointer" data-toggle="modal" data-target="#myModalE" (click)="onShowModal(exercise)"><span class="glyphicon glyphicon-trash text-danger "></span></a></li>
                <li> <a  (click)="onEditExercise(exercise.idExercise)" style="margin-left: 5px; cursor: pointer"><span class="glyphicon glyphicon-edit text-primary"></span></a></li>
              </ul>
            </td>


          </tr>
          </tbody>
        </table>
        <a *ngIf="!showForm" class="btn icon-btn btn-info" (click)="onShowForm()">
          <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-info"></span>
          Add
        </a>
        <a *ngIf="showForm" class="btn icon-btn btn-info" (click)="onShowForm()">
          <span class="glyphicon btn-glyphicon glyphicon-minus img-circle text-info"></span>
          Cancel
        </a>
        <a *ngIf="showOption" class="btn icon-btn btn-success pull-right" (click)="onShowOption()">
          <span class="glyphicon btn-glyphicon glyphicon-minus-sign img-circle text-success"></span>
           Option
        </a>
        <a *ngIf="!showOption" class="btn icon-btn btn-success pull-right" (click)="onShowOption()">
          <span class="glyphicon btn-glyphicon glyphicon-plus-sign img-circle text-success"></span>
           Options
        </a>

        <app-add-exercise *ngIf="showForm" [updateMode]="updateMode" [exerciseToUpdate]="exerciseToUpdate"  [exercises]="exercises" [idProgram]="program.idProgram"></app-add-exercise>

      </div>
    </div>

  </div>
</div>
<div *ngIf="exerciseToDelete!=null" class="modal fade" id="myModalE" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-danger font-weight-bold">Deleting Exercise : <span class="badge">{{exerciseToDelete.exerciseName | uppercase}}</span>  </h4>
      </div>
      <div class="modal-body ">
        <p class="font-weight-bold">
          You are about to delete the Exercise.<br>
          Are you sure of your choice?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="onDeleteExercise()" data-dismiss="modal">Delete</button>
        <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>
<div class="col-md-5">
  <app-exercise [idProgram]="program.idProgram"></app-exercise>

</div>


