.bas{
  margin-bottom: 5px;
}

.title{
  font: normal 20px Arial, sans-serif;
  color: whitesmoke;
  text-shadow: 1px 1px 1px #ccc;
}
.addingMode{
  color: whitesmoke; font: normal 13px Arial, sans-serif;
}
