

<form >
  <div class="input-group col-md-6 bas form-group">

    <label class="control-label" for="programName">Program Name</label>
    <input type="text" [(ngModel)]="programName" id="programName" name="programName" class="form-control" placeholder="New Program..." required>

  </div>
  <div class="input-group  col-md-6 bas form-group" >
    <label class="control-label" for="exerciseName">Exercise Name</label>
    <input type="text" [(ngModel)]="exerciseName" id="exerciseName" name="exerciseName" class="form-control" placeholder="New Exercise..." required>
    <!-- <span class="input-group-btn">
           <button (click)="onAddExercise()" (keyup.enter)="onAddExercise()"  class="btn btn-secondary glyphicon  glyphicon-chevron-right droite" type="button"
                       [disabled]="exerciseName===''" style="margin-left: 2px;"></button>
         </span>-->
  </div>
  <div class="input-group  col-md-6 bas form-group" >
    <label class="control-label" for="exerciseName">Load (kg) / Duration (min)</label>
    <br>
    <label class="radio-inline">
      <input type="radio" [(ngModel)]="loadType" name="loadType" id="loadType" value="(min)" required> Time
    </label>
    <label class="radio-inline">
      <input type="radio" [(ngModel)]="loadType"  name="loadType" id="loadType" value="(kg)" required> Weight
    </label>
    <input type="text" [(ngModel)]="loadName" (keyup.enter)="onSaveProgram()"  name="loadName" class="form-control" placeholder="Load / Duration ...." required>

  </div>

  <div class="input-group  col-md-5">
    <button [disabled]="programName==='' || exerciseName==='' || loadName===''"  (click)="onSaveProgram()" class="btn btn-info" type="submit">Add Program</button>

  </div>
</form>
