
<div class="input-group col-md-5 bas">

  <input type="text" [(ngModel)]="programName" name="program" class="form-control" placeholder="New Program...">
  <span class="input-group-btn ">
        <button  (click)="onAddProgram()" (keyup.enter)="onAddProgram()"  class="btn btn-secondary glyphicon glyphicon-chevron-down droite" type="button"
                [disabled]="programName===''"  style="margin-left: 2px;"></button>
      </span>
</div>
<div class="input-group  col-md-5 bas" *ngIf="programAdded && exerciseName!=''">

  <input type="text" [(ngModel)]="exerciseName" name="exercise" class="form-control" placeholder="New Exercise...">
  <span class="input-group-btn">
        <button (click)="onAddExercise()" (keyup.enter)="onAddExercise()"  class="btn btn-secondary glyphicon  glyphicon-chevron-right droite" type="button"
                    [disabled]="exerciseName===''" style="margin-left: 2px;"></button>
      </span>
</div>
<div class="input-group  col-md-5 bas" *ngIf="exerciseAdded && exerciseName!=''">

  <input type="text" [(ngModel)]="loadName" (keyup.enter)="onSaveProgram()"  name="load" class="form-control" placeholder="New Load...">

</div>

<div class="input-group  col-md-5" *ngIf="exerciseAdded && programAdded && loadName!=''">
  <button (click)="onSaveProgram()" class="btn btn-secondary" type="button">Add Program</button>

</div>



