
<div >
  <ul class="list-group ">
    <li class="list-group-item borderTop"  style=" color: #333;font-weight: bold; background-color: whitesmoke">
      {{user.firstName}}
    </li>
    <!--<li role="separator" class="divider"></li>-->

    <li class="list-group-item borderTop"  style=" color: #333;font-weight: bold; background-color: whitesmoke">
      {{user.lastName}}
    </li>

    <li class="list-group-item borderTop"  style=" color: #333;font-weight: bold; background-color: whitesmoke">
      {{user.email}}
    </li>
  </ul>



</div>
