<div class="col-md-1"></div>
<div class="col-md-9" [@userShow]>
  <div class="wrapper"  style="border-radius: 25px;">
    <div id="tasksPanel" class="panel backgroundTransparent " style="color: whitesmoke;">
      <div class="panel-heading">
        <h3 class="panel-title " style="font: normal 20px Arial, sans-serif;  color: whitesmoke; text-shadow: 1px 1px 1px #ccc; padding-bottom: 3mm;">
          <span class="glyphicon glyphicon-user" style="color: #d3d3d3"></span> My Profil  </h3>

        <ul class="nav nav-tabs" style="color: whitesmoke;text-shadow: 1px 1px 1px #ccc;">
            <li role="presentation"  routerLinkActive="active"><a  class="NavStyle" routerLink="/user/profil" >My Profil</a></li>
            <li role="presentation"  routerLinkActive="active"><a  routerLinkActive="active" class="NavStyle" routerLink="/user/stats" >Stats</a></li>
            <li role="presentation"  routerLinkActive="active"><a  routerLinkActive="active" class="NavStyle" routerLink="/user/edit" >Edit</a></li>
        </ul>
        <router-outlet></router-outlet>

      </div>

    </div>
  </div>
</div>
<div class="col-md-2"></div>

