<div class="col-md-1"></div>
<div class="col-md-9" [@userShow]>
  <div class="wrapper"  style="border-radius: 25px;color: #333333; font-family:cursive">
    <div id="tasksPanel" class="panel backgroundTransparent " style="color: whitesmoke;">
      <div class="panel-heading">
        <!--<h3 class="panel-title text-primary" style="font: normal 20px Arial, sans-serif;color: #4c83b2; text-shadow: 1px 1px 1px #ccc; padding-bottom: 3mm; font-weight: bold; font-family: cursive">-->
          <!--<span class="glyphicon glyphicon-user" style="color:#4c83b2"></span> My Profil  </h3>-->

        <ul class="nav nav-tabs" style="color: #333333; font-family:cursive ; font-weight: bold">
            <li role="presentation"  routerLinkActive="active"><a  routerLink="/user/profil" >My Profil</a></li>
            <li role="presentation"  routerLinkActive="active"><a  routerLinkActive="active" class="" routerLink="/user/stats" >Stats</a></li>
            <li role="presentation"  routerLinkActive="active"><a  routerLinkActive="active" class="" routerLink="/user/edit" >Edit</a></li>
        </ul>
        <router-outlet></router-outlet>

      </div>

    </div>
  </div>
</div>
<div class="col-md-2"></div>

