.borderTop{
  border: none;
  border-top: solid 0.5mm #114584;

}
hr {
  background-color: #4c83b2;
}
.backgroundTransparent{
  background-color: rgba(230, 234, 242,0.75);
  /*background-color: rgba(209, 225, 235,0.7);*/

}
.NavStyle{
  color: whitesmoke;
  text-shadow: 1px 1px 1px #ccc;
font-weight: bold;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #fff;
  background-color: rgba(30, 92, 149,0.4);
}
.nav-tabs > li> a:hover {
  color: #fff;
  background-color: rgba(30, 92, 149,0.4);
}
