<div class="wrapper" [@listShow]>
  <div id="tasksPanel" class="panel backgroundTransparent ">
    <div class="panel-heading">
      <h3 class="panel-title title">My Programs</h3>
      <br>
      <!--<div class="row col-md-7 pull-left paddingSearchBar" >-->
        <!--<input type="text" [(ngModel)]="keyWord"  class="form-control"  placeholder="Keyword...">-->
      <!--</div>-->
      <table class="table gym-table gym-table-rounded">
      <!--<table class="table table-bordered table-hover">-->
        <thead class="">
        <tr>
          <th scope="col">Progrm  <span  class="glyphicon glyphicon-sort"
                                         style="transform: rotate(180deg); cursor: pointer; color:#646568"
                                         (click)="sort('name')"></span> </th>
          <th scope="col"> Date
              <span  class="glyphicon glyphicon-sort"
                     style="transform: rotate(180deg); cursor: pointer; color:#646568"
                     (click)="sort('modification')"></span>   </th>
          <th  scope="col">Option</th>

        </tr>
        </thead>
        <tbody>

        <tr  *ngFor="let program of programs | filterByName : keyWord : searchableField" [@programList] >
          <td  style="cursor: pointer;" [routerLink]="[program.idProgram]" width="100px">{{program.programName}} <a data-toggle="popover" title="Created at {{program.dateOfCreation | date:'MM/dd/yy HH:mm'}} " class="glyphicon glyphicon-info-sign pull-right active"></a></td>
          <!--<td>{{program.dateOfCreation | date:'MM/dd/yy HH:mm'}}  </td>-->
          <td >{{program.lastModification  | date:'MM/dd/yy HH:mm'}}</td>
          <td>
            <ul class="list-inline">
              <li>  <a style="cursor: pointer" data-toggle="modal" data-target="#myModalP" (click)="onShowOption(program)"  ><span class="glyphicon glyphicon-trash text-danger pull-left "></span></a></li>
              <li> <a  (click)="alert()" style="cursor: pointer; margin-left: 10px;"><span class="glyphicon glyphicon-edit text-primary pull-left"></span></a></li>
            </ul> </td>

        </tr>

        </tbody>
      </table>

      <a *ngIf="!showForm" class="btn icon-btn btn-info" (click)="onShowForm()" style="background-color: rgba(30, 92, 149,0.4)">
        <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-info" ></span>
        Add
      </a>
      <a *ngIf="showForm" class="btn icon-btn btn-info"
         (click)="onShowForm()" style="background-color: rgba(30, 92, 149,0.4)">
        <span class="glyphicon btn-glyphicon glyphicon-minus img-circle text-info"></span>
        Cancel
      </a>



    </div>
  </div>

  <div *ngIf="showForm" [@addProgram] class="backgroundTransparent">
    <app-add-program  ></app-add-program>
  </div>
  <div class="container">


    <!-- Modal -->
    <div *ngIf="programToDelete!=null" class="modal" id="myModalP" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-danger font-weight-bold">Deleting Program : <span class="badge">{{programToDelete.programName | uppercase}}</span>  </h4>
          </div>
          <div class="modal-body ">
            <p class="font-weight-bold">
              You are about to delete the program.<br>
             Are you sure of your choice?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="deleteProgram()" data-dismiss="modal">Delete</button>
            <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
          </div>
        </div>

      </div>
    </div>

  </div>


