<div class="wrapper">
  <div id="tasksPanel" class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">My Programs</h3>

      <table class="table table-striped">
        <thead>
        <tr>

          <th scope="col">Progrm Name</th>
          <th scope="col">Creation Date</th>
          <th scope="col">Last Modification</th>
          <th *ngIf="showOption" scope="col">Option</th>

        </tr>
        </thead>
        <tbody>

        <tr style="cursor: pointer" *ngFor="let program of programs; let i=index" >

          <td> <a [routerLink]="[program.idProgram]"><span class="glyphicon glyphicon-log-in pull-right"></span> </a>{{program.programName}}</td>
          <td>{{program.dateOfCreation | date:'MM/dd/yy'}}  </td>
          <td>{{program.lastModification  | date:'MM/dd/yy'}}</td>
          <td *ngIf="showOption"><a (click)="alert()"><span class="glyphicon glyphicon-trash text-danger "></span></a>
            <a (click)="alert()" style="margin-left: 5px;"><span class="glyphicon glyphicon-edit text-primary"></span></a></td>

        </tr>
        </tbody>
      </table>
      <a *ngIf="!showForm" class="btn icon-btn btn-info" (click)="onShowForm()">
        <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-info"></span>
        Add
      </a>
      <a *ngIf="showForm" class="btn icon-btn btn-info" (click)="onShowForm()">
        <span class="glyphicon btn-glyphicon glyphicon-minus img-circle text-info"></span>
        Cancel
      </a>
      <a *ngIf="showOption" class="btn icon-btn btn-success pull-right" (click)="onShowOption()">
        <span class="glyphicon btn-glyphicon glyphicon-minus-sign img-circle text-success"></span>
        Hide Option
      </a>
      <a *ngIf="!showOption" class="btn icon-btn btn-success pull-right" (click)="onShowOption()">
        <span class="glyphicon btn-glyphicon glyphicon-plus-sign img-circle text-success"></span>
        More Options
      </a>
<!--<a class="glyphicon glyphicon-list" (click)="onShowForm()">  Add Program</a>-->
      <app-add-program *ngIf="showForm"></app-add-program>

    </div>
  </div>


